@charset "UTF-8";

/* 반응형 스타일 적용 */
.table-container {
	width: 80%;
	margin: 0 auto;
	max-height: 300px;
	overflow-y: auto;

}

.vertical-bar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 15%; /* 화면 크기에 비례하여 너비 조정 */
	min-width: 100px; /* 최소 너비 */
	background-color: #f8f9fa;
	z-index: 1050;
}

#header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #f8f9fa;
	padding: 10px 0;
	z-index: 1051;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	height: 60px; /* header 높이 설정 */
}

#bodys {
	margin-top: 80px; /* header 높이만큼 마진 추가 */
	margin-left: 15%; /* vertical-bar 너비만큼 오른쪽으로 이동 */
}